@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./Themes.scss";

@mixin hover {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  user-select: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.calculator {
  width: 50%;
  min-width: 35rem;
  max-width: 43rem;
  justify-self: center;
  align-self: center;
  &_mobile {
    width: 100vw;
    justify-self: center;
    align-self: center;
    padding: 0rem 2rem;
  }
}

.theme {
  justify-self: center;
  align-self: center;
  width: 18rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  text-align: center;
  &__name {
    background-color: transparent;
  }
  &__arrow {
    font-size: 4rem;
    background-color: transparent;
    @include hover {
      &:hover {
        transform: scale(150%);
      }
    }
    &:active {
      transform: scale(100%);
    }
  }
}

.modal {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  text-align: center;
  &__box {
    font-size: 5rem;
    width: 100%;
    text-align: center;
  }
}
