.screen {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7rem;
  &__content {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 4rem;
    overflow: hidden;
    display: inline-block;
    text-align: right;
    &_15 {
      font-size: 2rem;
      word-wrap: break-word;
    }
  }
}

.anchor {
  color: transparent;
}
