@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./Themes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  user-select: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.calculator {
  padding: 2rem 1rem;
  width: 43rem;
  justify-self: center;
  align-self: center;
}

.theme {
  justify-self: center;
  align-self: center;
  width: 18rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  text-align: center;
  &__arrow {
    font-size: 4rem;
  }
}
