.screen {
  width: 100%;
  font-size: 4rem;
  color: white;
  overflow: hidden;
  display: inline-block;
  text-align: right;
  &__15 {
    font-size: 2rem;
    word-wrap: break-word;
  }
}
.ankor {
  color: transparent;
}
.wrapper {
  width: 100%;
  margin-bottom: 3rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50rem;
  text-align: center;
  padding: 1rem 1.5rem 0.5rem 1rem;
  height: min-content;
}
