.color {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50rem;
  transition: all 0.2s;
  &.button__box {
    background: transparent;
  }
  &.button {
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
    &:active {
      transform: translateY(5px);
      background: rgba(0, 0, 0, 1);
    }
  }
  &.theme__arrow {
    border-radius: 50rem;
    background-color: transparent;
    &:hover {
      transform: scale(150%);
    }
    &:active {
      transform: scale(100%);
    }
  }
  &.theme__name {
    background-color: transparent;
  }
  &.background {
    background: url(./backgrounds/back1.jpg) center / cover repeat;
    border-radius: 0%;
  }
}

.color2 {
  color: rgb(0, 0, 0);
  background: rgba(183, 183, 183, 0.6);
  border-radius: 50rem;
  transition: all 0.2s;
  &.button__box {
    background: transparent;
  }
  &.button {
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
    &:active {
      transform: translateY(5px);
      background: rgba(0, 0, 0, 1);
    }
  }
  &.theme__arrow {
    border-radius: 50rem;
    background-color: transparent;
    &:hover {
      transform: scale(150%);
    }
    &:active {
      transform: scale(100%);
    }
  }
  &.theme__name {
    background-color: transparent;
  }
  &.background {
    background: url(./backgrounds/back2.jpg) center / cover repeat;
    border-radius: 0%;
  }
}
